<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.netty" level="OFF" />
    <logger name="io.grpc.netty" level="INFO" />
    <logger name="reactor" level="INFO" />

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
